################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DS.VSTemplates/.vs/DS.RevitTemplates/v17/.suo
