################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
*.suo
/.vs/DS.RevitTemplates/FileContentIndex
/DS.RevitApp.Template/obj/Debug/DS.RevitApp.Template.csproj.FileListAbsolute.txt
